@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    background:url(dodo.jpg)no-repeat;
    background-size: cover;
    height: 700px;
    font-family: 'Roboto Slab', serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}
.container{
    background-color: rgb(183, 235, 179);
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(230, 204, 230, 0);
    width:400px ;
    max-width: 100%;
    overflow: hidden;

}
.header{
    background-color: #0a4a14;
    padding: 10px 30px;
    border-bottom: 1px solid #e3dee3;
}
.header h2{
    margin: 0;
}
.form{
    padding: 10px 30px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    color:#ede9ed;
}
.form-control input{
    border: 2px solid #e3dee3;
    border-radius: 4px;
    display: block;
    width:100%;
    padding: 10px;
    font-size: 13px;

}
.form-control select{
    border: 2px solid #e3dee3;
    border-radius: 4px;
    display: block;
    width:100%;
    padding: 10px;
    font-size: 13px;

}
.form-control.success input{
    border-color: rgb(80, 237, 132);
}
.form-control.error input{
    border-color: rgb(235, 27, 27);
}
.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    /* visibility: hidden; */

}
.form-control.error small{
    visibility: visible;
    color: rgb(235, 27, 27) ;


}

.form-control small{
     position: absolute;
    visibility: hidden;
    left: 0;
    padding-top: 5px;
}
.form button{
    background-color: #084514;
    border: 2px solid white ;
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}
.form button:hover{
    background-color: #ede9ed;
    color: #115e2d;
}